.menu li:not([class]) a, a:hover, .copyright a {
  border-bottom: none;
}
.main {
  hyphens: auto;
}
code {
  hyphens: none;
}
iframe, twitterwidget, video {
  max-width: 100%;
  display: block;
  margin: auto;
}
#TableOfContents {
  background-color: #f8f8f8;
  padding: .5em;
}
table {
  min-width: 50%;
  max-width: 100%;
  margin: auto;
}
pre .nohighlight {
  background-color: transparent;
}
.hljs-comment {
  font-style: inherit;
}
.hljs {
  padding: 1em;
}
.home hr {
  margin: 2em auto 1em;
}

@media print {
  del {
    display: none;
  }
}
