@font-face {
  font-family: 'Yihui CN';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'),
       local('Source Han Serif TC'), local('Source Han Serif TW'),
       local('Source Han Serif'), local('Noto Serif CJK SC'), local('Songti SC'), local('SimSong'),
       url('https://cdn.jsdelivr.net/gh/yihui/cron/fonts/SourceHanSerifCN-Regular-yihui.woff2') format('woff2');
  unicode-range: U+4E00-9FFF, U+2014, U+2018-2019, U+201C-201D, U+2026, U+3001-3002, U+300A-300B, U+3010-3011, U+30FB, U+FF01, U+FF08-FF09, U+FF0C, U+FF1A-FF1B, U+FF1F;
}
@font-face {
  font-family: 'Yihui Kai';
  src: local('Kaiti'), local('Kaiti SC'), local('STKaiti'), local('楷体'), local('SimKai'), local('AR PL KaitiM GB'), local('DFKai-SB'), local('FandolKai'), local('Kai TC'),
       url('https://cdn.jsdelivr.net/gh/yihui/cron/fonts/gkai00mp-yihui.woff2') format('woff2');
  unicode-range: U+4E00-9FFF, U+2014, U+2018-2019, U+201C-201D, U+2026, U+3001-3002, U+300A-300B, U+3010-3011, U+30FB, U+FF01, U+FF08-FF09, U+FF0C, U+FF1A-FF1B, U+FF1F;
}
@font-face {
  font-family: 'Kai TC';
  src: url('https://cdn.jsdelivr.net/gh/yihui/cron/fonts/bkai00mp-yihui.woff2') format('woff2');
  unicode-range: U+4E00-9FFF;
}
body {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Latin Modern Roman', 'Yihui CN', serif;
}
.cn {
  font-family: 'Yihui CN', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Latin Modern Roman', serif;
}
.home blockquote, .cn blockquote, .kai, .cn em, .cn .side, .hash-note, .hide-notes .toggle-notes {
  font-family: 'Yihui Kai', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Kai TC', serif;
}
code {
  font-family: 'Yihui Kai', Consolas, Courier, 'Lucida Console', 'Courier New', 'Kai TC', monospace;
}
pre, code {
  font-size: .95em;
}
.cn em, .cn .title {
  font-style: normal;
}
