{{ partial "header.html" . }}

{{ if .Content }}
{{ .Content }}
{{ end }}

{{ if or (not .Content) .Params.list_pages }}
<div class="archive">
{{ range (where .Site.Pages "Type" .Section).ByParam (or .Params.order_by "date" ) }}
{{ if len (findRE "/(demo|example)/$" .File.Dir) }}
<p>
  <span>{{ .Date.Format "2006-01-02" }}</span>
  <a href="{{ .RelPermalink }}">{{ .Title }} {{ with .Params.subtitle }}<span class='subtitle'> &middot; {{ . }} </span>{{ end }}</a>
</p>
{{ end }}
{{ end }}
</div>
{{ end }}

{{ partial "footer.html" . }}
