{{ define "page-list" }}
{{ if (or .Params.list_pages (not .Content)) }}
{{ if .Params.list_pages }}
  {{ range .RegularPages.ByParam (or .Params.order_by "date" ) }}
  <p>
    <span>{{ .Date.Format "2006-01-02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }} {{ with .Params.subtitle }}<span class='subtitle'> &middot; {{ . | markdownify }} </span>{{ end }}</a>
  </p>
  {{ end }}
{{ else }}
  {{ range .RegularPages.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  {{ range .Pages.GroupByDate "01" }}
  <ul>
  {{ range .Pages }}
  <li{{ with .Params.page_class }} class="{{ . }}"{{ end }}>
    <span>{{ .Date.Format "2006-01-02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
  </ul>
  {{ end }}
  {{ end }}
{{ end }}
{{ end }}
{{ end }}
