{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    {{ if eq .Section "en" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ else if eq .Section "cn" }}
    <span class="article-duration">{{ .WordCount }} 字</span>
    {{ end }}
    {{ partial "article_meta.html" . }}

    {{ if .Params.show_toc }} {{ .TableOfContents }} {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
    {{ partial "prev_next.html" . }}
  </article>

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}
