{{ if eq .Section "knitr" }}
<img style="float:right;" src="/knitr/images/knit-logo.png" alt="knitr logo" width=130 />
{{ end }}
<h1 class="article-title">{{ .Title }}
{{ with .Params.subtitle }}
<span class="article-subtitle">{{ . }}</span>
{{ end }}
</h1>

{{ if or (in (slice "en" "cn" "knitr" "animation") .Section) .Params.author }}
<div class="article-date">
  <span>{{ with or (or .Params.author (index .Site.Params.author .Section)) "" }} {{  print . " · " }} {{ end }} {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFormat ) }}</span>
  <span class="article-toolbar">
    {{ with .Section }}
    <a href="/{{ . }}/index.xml" type="application/rss+xml" target="_blank"><i class="fa fa-rss" aria-hidden="true" title="RSS feed"></i></a>
    {{ end }}
    <a href="https://twitter.com/home?{{ (querify "status" (print .Title " " .Site.Params.fullURL .URL " via @" .Site.Params.social.twitter )) | safeURL }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true" title="Share via Twitter"></i></a>
    <a href="http://service.weibo.com/share/share.php?{{ (querify "content" "utf-8" "url" (print .Site.Params.fullURL .URL) "title" (print .Title " @" .Site.Params.social.weibo)) | safeURL }}" target="_blank"><i class="fa fa-weibo" aria-hidden="true" title="分享到新浪微博"></i></a>
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><i class="fa fa-cc" aria-hidden="true" title="Attribution-NonCommercial-ShareAlike 4.0 International"></i></a>
    {{ with .Site.Params.githubContentURL }}
    {{ $.Scratch.Set "filePath" $.File.Path }}
    {{ if $.Params.from_Rmd }}
    {{ $.Scratch.Set "filePath" (replaceRE "[.]md$" ".Rmd" $.File.Path) }}
    {{ end }}
    <a href="{{ or $.Params.githubEditURL  (print .  ($.Scratch.Get "filePath")) }}"><i class="fa fa-pencil-square-o" aria-hidden="true" title="{{ default (index $.Site.Params.lang.edit.en) (index $.Site.Params.lang.edit $.Section) }}"></i></a>
    {{ end }}
    </span>
</div>
{{ end }}
