{{ if and (not (eq .Site.DisqusShortname "")) (and (not .Params.disable_comments) (or (eq .Kind "404") (and (not .IsHome) .Content))) }}
<section class="comments">
  <div class="tabs" style="display: none;">
  <input name="tabs" type="radio" id="tab-1" checked class="input"/>
  <label for="tab-1" class="label">Disqus</label>
  <div class="panel">
    <div id="disqus_thread"></div>
    <script data-src="//{{ .Site.DisqusShortname }}.disqus.com/embed.js" async></script>
    <script>
    var disqus_config = (function() {
      var disqusURL
      {{ with .Site.Params.disqusURL }}
        = "{{ . }}" +{{ if eq $.Kind "404" }} "/404.html" {{ else }} location.pathname{{ end }}
      {{ end }}
      ;
      var cfg = function() {
        this.page.url = disqusURL;
      };
      cfg.DisqusJSInit = function() {
        var dsqjs = new DisqusJS({
          shortname: "{{ .Site.DisqusShortname }}",
          siteName: "{{ .Site.Title }}",
          identifier: undefined,
          url: disqusURL,
          api: "https://yihui.org/disqus/",
          apikey: [
            '7KUjj8dWYWdg36SwnKhiZmfiBcRrwlCDudkFZHAkfFJKBerk9IAPnnuo45Kkm22W',
            'XrSwjw0Vm57x9oStOytHMBVpXkGBivU2ohEV1loqEEFmJ8Ulefxuz1lw9zDeYFN8',
            'Hqkwx8JsVo5YOtkx0Oqc75oWIUG0n1PR9AgsrSJID4sEpkUKDgEyIhoObeoF1miW'
          ],
          admin: 'yihui',
          adminLabel: 'Yihui Xie'
        });
      };
      return cfg;
    })();
    </script>
  </div>
  <input name="tabs" type="radio" id="tab-2" class="input"/>
  <label for="tab-2" class="label">Utterances</label>
  <div class="panel">
    <script data-src="https://utteranc.es/client.js" repo="rbind/yihui" issue-term="pathname"
      label="comment" theme="github-light" crossorigin="anonymous" async></script>
  </div>
  <input name="tabs" type="radio" id="tab-3" class="input"/>
  <label for="tab-3" class="label">Preferences</label>
  <div class="panel">
    <p class="title">Layout of comment panels</p>
    <input name="layout" type="radio" id="layout-1" checked />
    <label for="layout-1">Tabbed (wide screen) / Stacked (small screen)</label>
    <br/>
    <input name="layout" type="radio" id="layout-2" />
    <label for="layout-2">Full display</label>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@xiee/utils/js/custom-disqus.min.js" defer></script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
{{ end }}
