{{ if eq .Type "404" }}
<script>
(function() {
  function absURL(tag, attr) {
    var i, tags = document.getElementsByTagName(tag), el, val;
    for (i = 0; i < tags.length; i++) {
      el = tags[i]; val = el.getAttribute(attr);
      if (/^[.]\//.test(val)) el.setAttribute(attr, val.replace(/^[.]/, ''));
    }
  }
  function absURLs(tags, attrs) {
    for (var i = 0; i < tags.length; i++) absURL(tags[i], attrs[i]);
  }
  absURLs(['link', 'a', 'img', 'script'], ['href', 'href', 'src', 'src']);
})();
</script>
{{ end }}
