<nav class="nav">
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    {{ $currentPage := . }}
    {{ $section := replaceRE "^/([^/]+)/.*" "$1" .URL }}
    {{ range (default .Site.Menus.main (index .Site.Menus $section)) }}
    <li class="{{ if eq .URL $currentPage.URL }}active{{ end }}"><a href="{{ .URL }}">{{ if .Pre }}<i class="fa fa-{{ .Pre }}" aria-hidden="true" title="{{ .Name }}"></i> {{ else }} {{ .Name }} {{ end }}</a></li>
    {{ end }}
  </ul>
</nav>
